<ion-header>
    <ion-toolbar color="#202c4c">
        <ion-title>
            Usuarios
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let usuario of usuarios" class="tarjeta">
        <ion-list>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-img class="avatar" [src]="getUrlAvatar(usuario.foto)"></ion-img>
                </ion-thumbnail>
                <ion-label>{{ usuario.nombre}} {{ usuario.apPaterno }} {{ usuario.apMaterno }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>{{ usuario.edad }} años</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>{{ usuario.correo }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-button color="medium" class="btn" (click)="EditarUsuario(usuario.idUsuario)">
                    Editar 
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" class="btn" (click)="btnEliminarClick(usuario.idUsuario)">
                    Eliminar 
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
    <button  color="#202c4c" (click)="AgregarUsuario()" class="BtnAdd">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-content>
